<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Relations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Relations</ion-title>
      </ion-toolbar>
    </ion-header>
    
    
    <div class="content">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
      
          <ion-item style="display: flex;">
            <ion-row>
              <ion-col>
                <ion-label for="alias" position="floating">Alias de l'utilisateur</ion-label>
                <ion-input type="text" placeholder="simondu44" formControlName="alias"></ion-input>
                <span slot="error" *ngIf="aliasRequired && (this.registerForm.value.alias == '')">Veuillez renseigner un alias</span>
              </ion-col>
              <ion-col>
                <ion-button shape="round" type="submit"> <ion-icon name="search-outline"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        
     
      
    </form>
    </div>
  </div>
  
  
  
</ion-content>
