<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Nous contacter</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label for="name" position="floating">Prénom</ion-label>
        <ion-input type="text" placeholder="Michel" formControlName="name"></ion-input>
        <span slot="error" *ngIf="nameRequired && (this.registerForm.value.name == '')">Le prénom est
          obligatoire</span>
      </ion-item>
      <ion-item>
        <ion-label for="surname" position="floating">Nom</ion-label>
        <ion-input type="text" placeholder="Patchouli" formControlName="surname"></ion-input>
        <span slot="error" *ngIf="surnameRequired && (this.registerForm.value.surname == '')">Le nom est
          obligatoire</span>
      </ion-item>
      <ion-item>
        <ion-label for="phoneNumber" position="floating">Numéro de téléphone</ion-label>
        <ion-input type="text" placeholder="0240351698" formControlName="phoneNumber"></ion-input>
        <span slot="error" *ngIf="phoneNumberRequired && (this.registerForm.value.phoneNumber == '')">Le numéro de téléphone est
          obligatoire</span>
      </ion-item>
      <ion-item>
        <ion-label for="email" position="floating">Email</ion-label>
        <ion-input type="email" placeholder="Jean" formControlName="email"></ion-input>
        <span slot="error" *ngIf="emailRequired && (this.registerForm.value.email == '')">L'email est
          obligatoire</span>
      </ion-item>
      <ion-item>
        <ion-label for="reason" position="floating">objet</ion-label>
        <ion-input type="text" formControlName="reason"></ion-input>
        <span slot="error" *ngIf="reasonRequired && (this.registerForm.value.reason == '')">L'objet est
          obligatoire</span>
      </ion-item>

      <ion-button shape="round" type="submit">Envoyer</ion-button>
    </form>
  </div>
</ion-content>