/* smartphones, iPhone, portrait 480x320 phones */

@media (min-width: 320px) {
  .ressourceCard {
    padding: 0%;
    display: flex;
    flex-direction: column;
  }

  .ressourceCardHorizontal {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin-top: 2%;
    height: 80%;
  }

  .ressourceCardHorizontalImage {
    object-fit: cover;
    height: 13vh;
  }

  .ressourceCardVerticalImage {
    object-fit: cover;
    height: 16vh;
  }

  .ion-padding {
    width: 90%;
  }

  swiper-container {
    flex-direction: row;
    width: 100%;
    height: 30%;
  }

  ion-card-title {
    font-size: 4vw;
    margin-bottom: 3%;
  }

  ion-card-subtitle {
    font-size: 3vw;
  }

  p {
    margin: 0;
    padding: 0;
  }
}


/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 481px) {
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
}


@media (min-width:1025px) {
    .caroussel-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 192px;
    }
    
    .caroussel-card img{
        width: 192px;
        height: 192px;
        object-fit: cover;
    }
    
    .caroussel-card ion-card-header{
    }
    
    .caroussel-card ion-card-title{
        white-space: nowrap;
        width: 192px;
        overflow: hidden;
        font-size: 1.3em;
    }

}


/* hi-res laptops and desktops */
@media (min-width:1281px) {
        .caroussel-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 192px;
    }
    
    .caroussel-card img{
        width: 192px;
        height: 192px;
        object-fit: cover;
    }
    
    .caroussel-card ion-card-header{
    }
    
    .caroussel-card ion-card-title{
        white-space: nowrap;
        width: 192px;
        overflow: hidden;
        font-size: 1.3em;
    }
}

