<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Bonjour {{ user.alias }}</h1>
    <h2>Vos ressources recommandées</h2>
    <swiper-container
      pagination="true"
      pagination-dynamic-bullets="true"
      [breakpoints]="breakpoints"
    >
      <swiper-slide *ngFor="let ressource of ressources">
        <ion-card
          class="ressourceCardHorizontal"
          (click)="getRessourceDetail(ressource)"
        >
          <img
            class="ressourceCardHorizontalImage"
            *ngIf="ressource['imgPath'] != false"
            alt="Image d'illustration de la ressource"
            src="{{ ressource['imgPath'] }}"
          />
          <img
            class="ressourceCardHorizontalImage"
            *ngIf="ressource['imgPath'] == false"
            alt="Image d'illustration de la ressource par défaut"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
          <ion-card-header class="ressourceCardHorizontalHeader">
            <ion-card-title>{{ ressource['titre'] }}</ion-card-title>
            <ion-card-subtitle>{{ ressource['type'] }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </swiper-slide>
    </swiper-container>
    <h2>Vos ressources suivies</h2>
    <ion-content class="ion-padding">
      <ion-card
        *ngFor="let ressource of ressources"
        class="ressourceCard"
        (click)="getRessourceDetail(ressource)"
      >
        <img
          class="ressourceCardVerticalImage"
          *ngIf="ressource['imgPath'] != false"
          alt="Image d'illustration de la ressource"
          src="{{ ressource['imgPath'] }}"
        />
        <img
          class="ressourceCardVerticalImage"
          *ngIf="ressource['imgPath'] == false"
          alt="Image d'illustration de la ressource par défaut"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
        />
        <ion-card-header>
          <ion-card-title>{{ ressource['titre'] }}</ion-card-title>
          <ion-card-subtitle>{{ ressource['type'] }}</ion-card-subtitle>
          <p *ngIf="ressource['vues'] > 1">{{ ressource['vues'] }} vues</p>
          <p *ngIf="ressource['vues'] == 0 || ressource['vues'] == 1">
            {{ ressource['vues'] }} vue
          </p>
        </ion-card-header>
      </ion-card>
    </ion-content>
  </div>
</ion-content>
