

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Tableau de bord</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>

      <ion-item button>
        <ion-label>Gestion des comptes utilisateurs</ion-label>
        <ion-icon name="person-circle-outline" slot="end"></ion-icon>
      </ion-item>

    </ion-list>


  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.
  </ion-content>
</div>




