#content {
  width: 90%;
  padding-bottom: 50px;
}

#headerTitle {
  margin: 3%;
  margin-left: 3%;
}

#like {
  color: red;
}

#Nolike {
  color: white;
}

.headerText {
  margin: 1%;
  margin-left: 3%;
  font-size: 10pt;
}
