<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <p id="headerTitle">{{ ressource['titre'] }}</p>
    <p class="headerText">{{ ressource['type'] }}</p>
    <p class="headerText" style="margin-bottom: 2%">
      Créé par {{ ressource['createur'] }} le {{ ressource['dateCreation'] }}
    </p>
    <ion-buttons slot="end">
      <ion-button *ngIf="liked" (click)="like(false)">
        <ion-icon icon="heart" id="like"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!liked" (click)="like(true)">
        <ion-icon icon="heart-outline" id="Nolike"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img
      *ngIf="ressource['imgPath'] != false"
      alt="Image d'illustration de la ressource"
      src="{{ ressource['imgPath'] }}"
    />
    <div [innerHtml]="ressource.contenu" id="content"></div>
  </div>
  <app-comments />
</ion-content>
